<div class="responsive-iframe responsive-iframe--16x9 {{ styleModifier }}">
	<iframe src="https://www.youtube.com/embed/{{ videoId }}" width="{{videoWidth}}" height="{{videoHeight}}" frameborder="0" allowfullscreen></iframe>
</div>
