<div class="views-filters {{ styleModifier }}">
  <div class="views-filters__text-field">
    <label for="text">{{ textInputText }}</label>
    <input type="text" placeholder="{{ textInputPlaceholder }}">
  </div>
  <div class="views-filters__select-field">
    <label for="select">Select</label>
    <select id="select">
      <optgroup label="Option Group">
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
      </optgroup>
    </select>
  </div>
  <div class="views-filters__select-field">
    <label for="select">Select</label>
    <select id="select">
      <optgroup label="Option Group">
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
      </optgroup>
    </select>
  </div>
  <div class="views-filters__submit-field">
    <a href="#" class="btn--primary">Apply</a>
  </div>
</div>
