<div class="l-page">
  {{> organisms-header }}
  <main class="l-main">

    <div class="panel">
      {{> molecules-hero-banner }}
    </div>

    {{# emergency }}
      {{> molecules-alert-error }}
    {{/ emergency }}

    <div class="l-container l-basic">

      <div class="l-content">
        {{# marketingHighlight }}
          <div class="panel">
            {{> molecules-marketing-highlight }}
          </div>
        {{/ marketingHighlight }}
        <div class="panel">
          {{> atoms-video-youtube }}
        </div>
        <div class="panel">
          {{> molecules-slideshow }}
        </div>
        <div class="panel panel--transparent">
          <h2 class="panel__title">Follow Us</h2>
          {{> molecules-social-follow }}
        </div>
      </div>

      <div class="l-sidebar">
        <div class="panel o-box">
          <h2 class="panel__title">Upcoming Events</h2>
          {{> organisms-event-list }}
        </div>
        <div class="panel o-box">
          <h2 class="panel__title">Top Stories</h2>
          {{> organisms-article-list }}
        </div>
        {{# focalLinks }}
          <div class="panel">
            {{> molecules-focal-link }}
          </div>
        {{/ focalLinks }}
      </div>

    </div>
  </main>
  {{> organisms-footer }}
</div>
