<div class="l-page">
  {{> organisms-header }}
  <main class="l-main">

    {{> organisms-page-title }}

    <div class="l-container">
      {{> molecules-breadcrumbs }}
    </div>

    <div class="l-container l-basic">

      <div class="l-sidebar">
        <div class="panel o-box">
          <h2 class="panel__title">Filter Results</h2>
          <div class="panel__content">
            <div class="field-container">
              <label for="firstname">Event Name</label>
              <input type="text" id="firstname">
            </div>
            <div class="field-container">
              <label for="start-date">Start Date</label>
              <input type="text" id="start-date">
            </div>
            <div class="field-container">
              <label for="end-date">End Date</label>
              <input type="text" id="end-date">
            </div>
            <input type="submit" class="btn--primary u-align--right" value="Apply Filter">
          </div>
        </div>
      </div><!--end .l-sidebar-first-->

      <div class="l-content">
        <div class="panel o-box--large">
          {{# eventList }}
            {{> molecules-teaser(teaserEvent: true) }}
          {{/ eventList }}
        </div>
      </div><!--end .l-content-->

      <div class="l-sidebar">
        <div class="panel o-box">
          <h2 class="panel__title">Filter by Category</h2>
          <div class="panel__content">
            {{> molecules-category-filter }}
          </div>
        </div>
      </div><!--end .l-sidebar-second-->

    </div>
  </main><!--End role=main-->
  {{> organisms-footer }}
</div>
