<div class="l-page">
  {{> organisms-header }}
  <main class="l-main">

    <div class="l-container">
      {{> molecules-page-title(title: "Dr. Herbert Johns, MD") }}
      {{> molecules-breadcrumbs }}
    </div>

    <div class="l-container l-basic">

      <div class="l-content">
        <div class="panel o-box">
          {{> organisms-person-body }}
          <h2 class="heading--auxiliary">Documents</h2>
          {{> atoms-list-download }}
        </div>
      </div>

      <div class="l-sidebar">
        <div class="panel o-box">
          <h2 class="panel__title">Contributions</h2>
          {{> organisms-article-list }}
        </div>
      </div>

    </div>
  </main>
  {{> organisms-footer }}
</div>
