<div class="page">
  {{> organisms-header }}
  <main class="l-main">

    {{> organisms-page-title(title: "Dr. Herbert Nafario, MD") }}

    <div class="l-container">
      {{> molecules-breadcrumbs }}
    </div>

    <div class="l-container l-basic">

      <div class="l-content">
        <div class="panel o-box">
          {{> organisms-person-body }}
          <h2 class="heading--auxiliary">Documents</h2>
          {{> atoms-list-download }}
        </div>
      </div><!--end .l-content-->

      <div class="l-sidebar">
        <div class="panel o-box">
          <h2 class="panel__title">Contributions</h2>
          {{> organisms-article-list }}
        </div>
      </div><!--end .l-sidebar-second-->

    </div>
  </main><!--End role=main-->
  {{> organisms-footer }}
</div>
