<div class="l-page">
  {{> organisms-header }}
    <div class="l-main" role="main">

    <div class="l-container">
      {{> organisms-page-title }}
      {{> molecules-breadcrumbs }}
    </div>

    <div class="l-container l-basic">

      <div class="l-sidebar">
        <div class="panel o-box">
          {{> organisms-filter-people-results }}
        </div>
      </div><!--end .l-sidebar-second-->

      <div class="l-content">
        <div class="panel o-box">
          {{# peopleGroups }}
            <h2>{{ peopleGroupTitle }}</h2>
            {{# peopleList }}
              {{> molecules-teaser:vm-teaser--grouped }}
            {{/ peopleList }}
          {{/peopleGroups}}
        </div>
      </div><!--end .l-content-->

    </div>
  </div><!--End role=main-->
  {{> organisms-footer }}
</div>
