<div class="l-page">
  {{> organisms-header }}
  <main class="l-main">

    <div class="l-container">
      {{> organisms-page-title }}
      {{> molecules-breadcrumbs }}
    </div>

    <div class="l-container">

      <div class="l-content">
        <div class="panel o-box">
          <div>
            {{> molecules-social-share }}
            <p>{{ excerpt.short }}</p>
          </div>

          {{> molecules-image-gallery }}

          {{# singleCategory }}
            <h2 class="heading--auxiliary">Category</h2>
            <div class="u-clearfix">
              {{> molecules-tags }}
            </div>
          {{/ singleCategory }}

          <h2 class="heading--auxiliary">Tags</h2>
          {{> molecules-tags }}
        </div>
      </div><!--end .l-content-->

    </div>
  </main><!--End role=main-->
  {{> organisms-footer }}
</div>
