<div class="l-page">
  {{> organisms-header }}
  <main class="l-main">

    <div class="l-container">
      {{> organisms-page-title }}
      {{> molecules-breadcrumbs }}
    </div>

    <div class="l-container">

      <div class="l-content">
        <div class="panel o-box">
          {{# taxonomyResults }}
            {{> molecules-teaser }}
          {{/ taxonomyResults }}

          {{> molecules-pagination }}
        </div>
      </div>

    </div>
  </main>
  {{> organisms-footer }}
</div>
