<header class="l-header header">
  <div class="l-container o-media">
    <div class="o-media__figure">
      {{> atoms-site-logo }}
    </div>
    <div class="o-media__body">
      <h1>{{ siteName }}</h1>
      <div>{{ slogan }}</div>
    </div>
  </div>
  <div class="l-navbar">
    {{> molecules-primary-nav }}
  </div>
</header>
