<footer class="l-footer footer" role="contentinfo">
  <div class="l-container">
    <div>
      {{> molecules-site-credits }}
    </div>
    <div>
      <h2>Follow Us</h2>
      {{> molecules-social-follow }}
    </div>
  </div>

  {{> molecules-info-copyright }}
</footer>
