<footer class="l-footer footer" role="contentinfo">
  <div class="l-container">

    <div class="u-align--right u-clearfix">
      <h2 class="heading--invert">Follow Us</h2>
      {{> molecules-social-follow }}
    </div>

    {{> molecules-site-credits }}

    {{> molecules-info-copyright }}

  </div>
</footer>
