////
/// List Styles
/// @group Lists
////


/// List: Flush `Modifier`
///
/// Make list flush to the left side
%list--flush {
  @include list-flush();
  // add padding so that bullet points still show up inline
  padding-left: $spacer + ($spacer * .25);
}

/// List: Pipe `Modifier`
///
/// Places each item in a horizontal list separated by a vertical pipe
%list--pipe {
  @include reset-list();

  li {
    border-right: 1px solid $gray-light;
    margin-right: $spacer--tiny;
    padding-right: $spacer--small;
    display: inline-block;
    line-height: 1;

    &:last-child {
      border-right: 0;
      margin-right: 0;
      padding-right: 0;
    }
  }
}

// Assign placeholders to classes
.list--flush {
  @extend %list--flush;
}

.list--pipe {
  @extend %list--pipe;
}

.list--reset {
  @include reset-list();
}


// List Wrappers

// List Wrappers so that any lists further down the DOM will inherit the style
// even if they don't have the class applied directly to their list.
$list-wrapper-parents: (
  "flush",
  "pipe"
);

@each $item in $list-wrapper-parents {
  .list-wrapper--#{$item} ul {
    @extend %list--#{$item};
  }
}
