<h2>{{{ pageCopy.section01.heading }}}</h2>

<p>{{{ pageCopy.section01.text }}}</p>

<h2>{{{ pageCopy.section02.heading }}}</h2>

<div class="u-align--right u-width--half">
  {{> atoms-landscape-4x3 }}
</div>

<div class="u-align--right u-width--half">
  {{> molecules-feature-block }}
</div>

<p>{{{ pageCopy.section02.text }}}</p>

{{# figures.first }}
  {{> molecules-figure-with-caption }}
{{/ figures.first }}

<h2>{{{ pageCopy.section03.heading }}}</h2>

<p>{{{ pageCopy.section03.text }}}</p>

<h2>{{{ pageCopy.section04.heading }}}</h2>

<p>{{{ pageCopy.section04.text }}}</p>

<h2>{{{ pageCopy.section05.heading }}}</h2>

{{# pullquotes.first }}
  <div class="u-align--left u-width--half">
    {{> molecules-pullquote }}
  </div>
{{/ pullquotes.first }}

<p>{{{ pageCopy.section05.text }}}</p>

{{# figures.second }}
  {{> molecules-figure-with-caption }}
{{/ figures.second }}

<h2>{{{ pageCopy.section06.heading }}}</h2>

<p>{{{ pageCopy.section06.text }}}</p>
