<div class="u-align--right u-width--one-third">
  {{> atoms-profile-image }}
</div>
<h2>{{ person.title }}</h2>
<h3>{{ person.dept }}</h3>
<ul class="list--pipe">
  <li>530-234-2233</li>
  <li>916-599-0922</li>
  <li><a href="{{ url }}">{{ emailAdd }}</a></li>
  <li><a href="{{ url }}">{{ webLink }}</a></li>
  <li>{{ person.location }}</li>
  <li>123 Test Drive, Davis, CA 95616</li>
</ul>
<h4>Office Hours</h4>
<p>{{ person.officeHours }}</p>
<p>{{ excerpt.long }}</p>
