<ul class="pager pager--mini">
  <li class="pager__item"><a href="{{ url }}">‹ Previous</a></li>
  <li class="pager__item pager__item--current">Page 2</li>
  <li class="pager__item"><a href="{{ url }}">Next ›</a></li>
</ul>
