<ul class="category-filter">
  {{# categoryFilter }}
    <li class="category-filter__list-item {{# isActiveLink }}category-filter__list-item--active {{/ isActiveLink }}{{ brandColor }}">
      <a href="{{ url }}" class="category-filter__link category-brand__circle-icon"><span>{{ text }}</span></a>
    </li>
  {{/ categoryFilter }}
</ul>
