<div class="vm-listing o-media {{ styleModifier }}">
  {{# hasMediaFigure }}
    <div class="o-media__figure">
      <a href="{{ url }}">{{> atoms-thumbnail }}</a>
    </div>
  {{/ hasMediaFigure}}
  <div class="o-media__body">
    <h3 class="vm-listing__title"><a href="{{ url }}">{{ headline.medium }}</a></h3>
    {{# showDate }}
      <div class="vm-listing__submitted">{{ month.long }} {{ day.short }},  {{ year.long }}</div>
    {{/ showDate }}
    {{ headline.short }}
  </div>
</div>
