<article class="o-media vm-teaser {{# featured }}vm-teaser--featured{{/ featured }} {{ styleModifier }}">
  {{# hasMediaFigure }}
    <div class="o-media__figure vm-teaser__figure">
      <a href="{{ url }}">{{> atoms-thumbnail }}</a>
    </div>
  {{/ hasMediaFigure }}
  <div class="o-media__body">
    <h3 class="vm-teaser__title"><a href="{{ url }}">{{ headline.medium }}</a></h3>

    {{# teaserByline }}
      <ul class="vm-teaser__byline">
        <li>{{> molecules-byline }}</li>
        <li>{{ month.long }} {{ day.short }}, {{ year.long }}</li>
      </ul>
    {{/ teaserByline }}

    {{# teaserCategorized }}
      <ul class="vm-teaser__categories">
        {{# catList }}
          <li><a href="{{ url }}">{{ categoryValue }}</a></li>
        {{/catList}}
      </ul>
    {{/ teaserCategorized }}

    {{# teaserPerson }}
      <ul class="vm-teaser__position list--pipe">
        <li><b>{{ person.title }}</b></li>
        <li>{{ person.dept }}</li>
      </ul>
    {{/ teaserPerson }}

    {{# teaserSummary }}
      <div class="vm-teaser__summary">{{ excerpt.short }}</div>
    {{/teaserSummary}}

    {{# teaserEvent }}
      <ul class="vm-teaser__contact list--pipe">
        <li><a href="{{ url }}">{{ month.short }} {{ day.short }}, {{ year.long }} <span class="date-separator">@</span> {{ hour.long }}:{{ minute.long }} {{ hour.ampm }}</a></li>
        <li><a href="{{ url }}">{{ event.mapLink }}</a></li>
        <li>{{ address.number }} {{ address.street }}, {{ address.city }}, {{ address.state }} {{ address.zip }}</li>
        <li><a href="{{ url }}">{{ event.linkText }}</a></li>
      </ul>
    {{/ teaserEvent }}

    {{# teaserPerson }}
      {{# person.contactInfo }}
        <ul class="vm-teaser__contact list--pipe">
          <li><a href="{{ url }}">{{ phoneNum }}</a></li>
          <li><a href="{{ url }}">{{ emailAdd }}</a></li>
          <li><a href="{{ url }}">{{ webLink }}</a></li>
          <li><a href="{{ url }}">{{ personLink }}</a></li>
        </ul>
      {{/person.contactInfo}}
      {{# person.location }}
        <div>{{ person.location }}</div>
      {{/person.location}}
      {{# person.address }}
        <div>{{ address.number }} {{ address.street }}, {{ address.city }}, {{ address.state }} {{ address.zip }}</div>
      {{/ person.address }}
      {{# person.officeHours }}
        <div><strong>Office Hours</strong> {{ person.officeHours }}</div>
      {{/ person.officeHours }}
    {{/ teaserPerson }}
  </div>
</article>
