<a href="{{ url }}" class="vm-poster">
  <div class="vm-poster__image">
    {{> atoms-landscape-16x9 }}
  </div>
  <div class="vm-poster__body">
    <h2 class="vm-poster__title">{{ headline.short }}</h2>
    <p>{{ excerpt.short }}</p>
  </div>
</a>
