// Marketing Highlight Horizontal
.marketing-highlight-horizontal {
  overflow: hidden;

  &__image {
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &__body {
    padding: 0;
  }

  &__title {
    background-color: $brand--primary;
  }
}
