// Pagination
// Make the active/current styles extensible for compatibility
%pager--current {
  color: $link-color--secondary;
}

.pager {
  @include reset-list();
  @include clearfix();

  &__item {
    float: left;

    // Theme links and static text the same
    a,
    &--static {
      padding: $spacer;
    }

    // Allow the current item to have a link or just static text
    &--current,
    &--current a {
      @extend %pager--current;
    }
  }

  // Mini Pager modifier
  &--mini {

    .pager__item--current {
      @extend %btn--primary;
      cursor: default;
    }
  }
}
