// Panel Titles

// Default each Panel Pane to a white background
.panel {
  clear: left;
  margin-bottom: $spacer--large;
  background-color: $white;
  overflow-wrap: break-word;

  &--flush {
    margin-bottom: 0;
  }

  &--transparent {
    background-color: transparent;
  }

  &__title {
    @include heading--primary();
    margin-bottom: $spacer;
  }

  // Auxilary title
  &--auxilary &__title {
    @include heading--auxiliary();
  }

}
