// navigation tabs
.tabs {
  @include reset-list();
  margin-bottom: $spacer;

  li {
    display: inline-block;
    margin-top: $spacer--tiny;
  }

  a {
    @extend %btn;
    margin-right: $spacer--tiny;

    &.active {
      background-color: $brand--primary-80;
      color: $white;

      &:hover {
        background-color: $brand--primary;
      }
    }
  }
}
