.wysiwyg-feature-block {
  padding-bottom: $spacer;
  background-color: $brand--primary-80;

  &__body {
    padding: $spacer $fixed-spacer;
    color: $white;
    text-align: left;

    a {
      color: $white;
    }
  }

  &__title {
    display: block;
    margin-top: 0;
    padding: $spacer $fixed-spacer;
    background: $brand--primary-90;
    color: $white;
    font-size: 1.5rem;
    font-weight: $font-weight--bold;
    font-style: inherit;
  }
}
