<nav class="nav-primary {{ styleModifier }}" aria-label="Main Menu">
  <a href="/public{{ link.pages-homepage }}">Home</a>
  <a href="/public{{ link.pages-basic-page }}">Basic Page</a>
  <a href="/public{{ link.pages-articles-landing }}">Articles</a>
  <a href="/public{{ link.pages-event-landing }}">Events</a>
  <a href="/public{{ link.pages-person-directory }}">People</a>
  <a href="/public{{ link.pages-photo-gallery-page }}">Gallery</a>
</nav>
