// Forms
fieldset {
  border: 1px solid $brand--gray;
  border-top: 3px solid $brand--primary;
  margin: $spacer 0;
  padding: $spacer;

  > legend {
    padding: $spacer--tiny;
  }
}

label {
  display: block;
  padding-bottom: $spacer--tiny;
  font-weight: bold;
}

input,
select,
textarea {
  border: 1px solid $input-border-color;
  background-color: $input-bg;
  color: $input-color;
}

input,
select {
  height: $input-height;
}

select {
  max-width: 100%;
}

input,
textarea {
  width: 100%;
}

input[type="text"],
input[type="search"],
input[type="url"],
input[type="number"],
textarea {
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  height: auto;
  width: auto;
  margin-right: 0.3em;
}

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  box-sizing: border-box;
}
