<a href="{{ url }}" class="focal-link {{ styleModifier }}">
  {{# icon }}
    <div class="focal-link__figure focal-link__icon">
      <i class="{{ icon }} fa-2x"></i>
    </div>
  {{/ icon}}

  {{^ icon }}
    <div class="focal-link__figure">
      {{> atoms-focal-link }}
    </div>
  {{/ icon}}

  <div class="focal-link__body">
    <strong>{{ actionText }}</strong>
  </div>
</a>
