<a href="{{ url }}" class="marketing-highlight {{ styleModifier }}">
  <div class="marketing-highlight__image">
    {{> atoms-landscape-4x3 }}
  </div>
  <div class="marketing-highlight__body">
    {{# highlightLabel }}
      <h3 class="marketing-highlight__type">{{ highlightLabel }}</h3>
    {{/ highlightLabel }}
    <h3 class="marketing-highlight__title">{{ headline.short }}</h3>
    {{# highlightContent }}
      <p>{{{ excerpt.short }}}</p>
    {{/ highlightContent }}
    {{# ctaText }}
      <span class="marketing-highlight__cta">{{ ctaText }}</span>
    {{/ctaText}}
  </div>
</a>
