<a href="{{ url }}" class="marketing-highlight-horizontal {{ styleModifier }}">
  <div class="marketing-highlight-horizontal__image">
    {{> atoms-landscape-16x9 }}
  </div>
  <div class="marketing-highlight-horizontal__body">
    <h3 class="marketing-highlight-horizontal__title">{{ headline.short }}</h3>
  </div>
</a>