<div class="site-credits">
  <div class="site-credits__logo">
    {{> atoms-site-logo }}
  </div>
  <p>
    SiteFarm Seed Website Builder<br>
    123 Test Drive<br>
    Davis, CA 95616<br>
    Phone: (123) 456-7890<br>
    <a href="{{url}}">info@mydomain.test.edu</a>
  </p>
</div>
