<div class="focus-box {{ styleModifier }}">
  <div class="focus-box__image">
    {{> atoms-focus }}
  </div>
  <h3 class="focus-box__title">{{ focusBoxTitle }}</h3>
  <div class="focus-box__body">
    {{ focusBoxText }}
  </div>
</div>
