<div class="uc-footer">
  <p><a href="{{url}}">University of California</a>, 123 Test Drive, CA 95616 | 123-456-7890</p>
  <ul class="list--pipe">
    <li><a href="{{url}}">Help</a></li>
    <li><a href="{{url}}">Questions or comments?</a></li>
    <li><a href="{{url}}">Privacy & Accessibility</a></li>
    <li><a href="{{url}}">Principles of Community</a></li>
    <li><a href="http://www.universityofcalifornia.edu/">University of California</a></li>
    <li><a href="{{url}}">Sitemap</a></li>
    <li>Last update: March 8, 2018</li>
  </ul>
  <p>Copyright © The Regents of the University of California. All rights reserved.</p>
</div>
