// alert message
.alert {
  font-size: 1rem;
  margin-bottom: $spacer;
  padding: $spacer--large;
  //background-color: lighten($rec-pool-blue, 60%);
  //color: $rec-pool-blue;
  font-style: italic;

  &--success {
    background-color: lighten($brand--success, 40%);
    color: $brand--success;
  }

  &--warning {
    background-color: lighten($brand--warning, 45%);
    color: $brand--warning;
  }

  &--error {
    background-color: lighten($brand--danger, 50%);
    color: $brand--danger;
  }
}
