// Slideshow using Slick

$slideshow-button-width: 50px;

// Ajax Loader
.slick-loading {
  background: #fff url("../images/slideshow-ajax-loader.gif") center center no-repeat;
}

// Arrows
.slick-prev,
.slick-next {
  @include vertical-center();
  position: absolute;
  z-index: $zindex-component-bg;
  height: $slideshow-button-width;
  width: $slideshow-button-width;
  background-color: transparent;
  background-image: url("../images/slideshow-buttons.svg");
  background-position: 0 center;
  color: transparent;
}

.slick-next {
  right: 0;
  background-position: -$slideshow-button-width;
}

// Main Slideshow
.slideshow {

  &__title {
    font-weight: $font-weight--bold;
  }

}

// Thumbnails Navigation Controls
.slider-nav {

  .slideshow__item {
    padding: .25em;

    img {
      cursor: pointer;
    }
  }

}
