// Tags Styling
.tags {

  &__title {
    @include heading--auxiliary();
  }

  &__tag {
    @include link-style-secondary();
    display: inline-block;
    padding: $spacer--small $spacer;
    background: $brand--secondary-10;
    text-decoration: none;

    &:hover {
      background: $brand--secondary-20;
    }
  }
}
