.vm-poster {

  &__image {
    img {
      width: 100%;
    }
  }

  &__body {
    background-color: rgba($brand--primary-80, .8);
    padding: $spacer;
    color: $white;
  }

  &__title {
    color: $white;
  }
}
