// Media List (view mode)
.vm-listing {
  margin-bottom: $spacer;

  &__title {
    font-size: 1rem;
  }

  // Set a width for the images
  .o-media__figure {
    max-width: 25%;
    overflow: hidden;
  }
}
